.headerbackground {
    position: absolute;
    width: 100%;
    height: 88px;
    left: 0px;
    top: 0px;
    background-color: rgba(191, 121, 99, 0.83);
    
  }

  .ul{
    list-style:none
  }
  .imgLogo{
    position: absolute;
width: 186px;
height: 70px;
left: 22px;
top: 9px;
    object-fit: cover;
  }

  .lengerie{
    position: absolute;
width: 186px;
height: 48px;
left: 400px;
top: 22px;
background: #FFFFFF;
border-radius: 5px;
font-family: 'Shocka Serif';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 26px;
align-items: center;
text-align: center;
color: #7D3529;
  }
 
  .accesories {
    position: absolute;
    width: 186px;
    height: 48px;
    left: 620px;
    top: 22px;
    background: #FFFFFF;
border-radius: 5px;
font-family: 'Shocka Serif';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 26px;
align-items: center;
text-align: center;
color: #7D3529;
  }
  
  .about-us {
    position: absolute;
    width: 186px;
    height: 48px;
    left: 840px;
    top: 22px;
    background: #FFFFFF;
border-radius: 5px;
font-family: 'Shocka Serif';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 26px;
align-items: center;
text-align: center;
color: #7D3529;
  }

  .contact{
    position: absolute;
width: 186px;
height: 48px;
left: 1060px;
top: 22px;
background: #FFFFFF;
border-radius: 5px;
font-family: 'Shocka Serif';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 26px;
align-items: center;
text-align: center;
color: #7D3529;
  
  }
  
  .icon-cart {
    position: absolute;
  width: 56px;
  height: 56px;
  left: 1348px;
  top: 15px;
  
  }
 