@import url("https://fonts.googleapis.com/css2?family=Shocka+Serif:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-shocka-serif: "Shocka Serif";

  /* font sizes */
  --font-size-xs: 15px;
  --font-size-sm: 20px;
  --font-size-base: 24px;

  /* Colors */
  --color-white: #fff;
  --color-brown-100: #7d3529;
  --color-brown-200: rgba(143, 78, 60, 0.3);
  --color-black: #000;

  /* border radiuses */
  --br-xs: 5px;
  --br-sm: 10px;
  --br-md: 17px;
  --br-lg: 33px;
}
